@media (prefers-reduced-motion: no-preference) {
    * {
      scroll-behavior: smooth;
    }
  }

body {
    background: black;
    color: white;
    margin: 0;
    padding: 0;
}

nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    float: right;
    margin: 0;
    background-color: grey;
    opacity: 0.9;
    height: 45px;
    display: flex;
    align-items: center;
    font-size: 12px;
}

nav a{
    transition: opacity .5s ease-in-out;
  }
  
  nav:hover a {
    opacity: 0.25;
  }
  
  nav:hover a:hover {
    opacity: 1;
  }

nav a {
    text-decoration: none;
    color: white;
}

nav a:visited {
    text-decoration: none;
    color: white;
}

nav h1 {
    display: inline-block;
    color: white;
}

nav a {
    padding: 1vh 1vw;
}

a:hover {
    transition: color .25s ease-in-out;
}

header {
    height: 100vh;
    width: 100vw;
    background-color: black;
    background-image: url(./assests/images/website-hero.png);
    background-size: 200vh;
    background-position: 75% 0%;
    background-repeat: no-repeat;
    margin-top: 45px;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 45vh;
    padding: 0 55vw 0 5vw;
    margin: 0;
}

.quote p {
    margin: 0;
    margin-top: 15px;
    text-align: center;
}

ul {
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

li {
    display: inline-block;
    margin-left: 10vw;
}

li:first-child {
    margin-left: 0;
}

nav a:hover {
    color: brown;
}

h2 {
    border-bottom: 3px solid #dfdfe2;
    margin-top: 0;
    padding-top: 4vh;
}

h3{
    text-align: center;
    border-bottom: 3px solid #dfdfe2;
    margin: 0 20vw 16px 20vw;
}

.video {
    background-color: black;
    padding: 3vh 0;
}

.about {
    background-color: grey;
    padding: 1vh 10vw 5vh 10vw;
}

.about p {
    margin: 10px 1vw;
}

html {
    scroll-padding-top: 45px;
}

.video iframe {
    display: block;
    margin: 0 auto;
    width: 90vw;
    height: 67.5vw;
}

.media {
    background-color: brown;
    padding: 1vh 10vw 5vh 10vw;
    box-sizing: border-box;
}


.gallery, .gallery-video {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0;
  }
  
.gallery img {
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .gallery::after {
    content: "";
    width: 350px;
  }

  .media iframe {
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
  }

  .gallery-video::after {
    content: "";
    width: 350px;
  }

  .contact {
    padding: 1vh 10vw;
  }

  form {
    display: flex;
    flex-direction: column;
    margin: 0 10vw 20px 10vw;
  }

  form input, form textarea {
    padding: 5px;
    margin-bottom: 10px;
    padding: 1vh 1vw 1vh 1vw;
  }

  form textarea {
    padding-bottom: 10vw;
    resize: none;
  }

  form button {
    margin-bottom: 2vh;
    width: 90px;
    align-self: flex-end;
    background-color: grey;
    color: white;
  }

  form .name {

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .name input {
    width: 45%;
  }

  button:hover {
    background-color: white;
    color: black;
  }

  button {
    transition: background-color 0.25s ease-in-out;
  }

  footer {
    background-color: grey;
    height: 25vh;
  }